@charset "UTF-8";   

*{
    margin:0;
    padding:0;
    width: auto;
    box-sizing:border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    background-color: rgba(128, 128, 128, 0.521);
    padding-bottom: 20px;
    display: block;
    margin: 0px;
    width: 100%;
    height: auto;
    align-items: center;
    position: fixed;
}
header h1{
    margin-bottom: 10px;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 2px 0px rgb(39, 41, 41);
}
header nav{
    text-align: center;
}
header nav>a{
    background-color: rebeccapurple;
    text-decoration: none;
    padding: 5px 8px;
    margin: 5px 5px;
    border: 2px solid rebeccapurple;
    border-radius: 10px;
    color: white;
    transition: .5s;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bolder;
}
header nav>a:hover{
    background-color: rgb(53, 28, 78);
    border-radius: 13px;
}
html,body{
    background-image: url('../imagens/backgroundjpg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
main{
    width: 1200px;
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 20px;
}

article{
    margin-top: 100px;
    padding: 20px;
    background-color: rgba(128, 128, 128, 0.521);
    border-radius: 25px;
    width: 50vw;
}
aside{
    width: 50vw;
    margin-top: 100px;
}
aside > img{
    width: 500px;
    margin-left: 20%;
    margin-top: 100px;
}
p{
    text-align: justify;
    line-height: 20px;
    max-width: 500px;
    text-shadow: 1px 0px black;
}
h2,h3{
    margin: 10px;
    font-size: 2em;
    color: rebeccapurple;
    text-shadow: 1px 2px gray;
}
form{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    width: 70%;
}
input{
    margin-top: 20px;
    height: 50px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}
form [type="submit"]{
    height:50px;
    width:50%;
    text-align: center;
    align-self: center;
    background-color: rebeccapurple;
    color: white;
    border: 2px solid rebeccapurple;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bolder;
    cursor: pointer;
}
form [type="submit"]:hover{
    background-color: rgb(53, 28, 78);
    border-radius: 13px;
}
.cadastro > a{
    padding: 20px;
    background-color: rebeccapurple;
    text-decoration: none;
    padding: 5px 8px;
    margin-left: 35%;
    border: 2px solid rebeccapurple;
    border-radius: 10px;
    color: white;
    transition: .5s;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bolder;
}
.cadastro >a:hover{
    background-color: rgb(53, 28, 78);
    border-radius: 13px;
}
h3{
    text-align: center;
}
footer{
    background-color: rgba(128, 128, 128, 0.521);
    text-align: center;
    height: 20px;
    width: 100%;
    border-radius: 30px;
}